
* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  .prog-wrap {
    position: relative;
    border: 1px solid #acb2d8;
    background: rgba(255, 255, 255, 0.3);
  }
  .prog-wrap, .prog-bar, .prog-percent { height: 30px; }
  
  .prog-bar, .prog-percent {
    position: absolute;
    top: 0; left: 0;
  }
  
  
  .prog-percent {
    display: flex;
    align-items: center; justify-content: center;
    width: 100%;
    z-index: 2;
  }
  
  .prog-bar {
    width: 0;
    background: rgba(255, 47, 47, 0.5);
    transition: width 0.5s;
  }

  .widget-wrap {
    min-width: 500px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
  }
  